@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightHover: #e3caec;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: var(--font-outfit);
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
}

.dark body {
  background: #11001f;
  color: white;
}